/* 変数名を定義（利用時は、var(変数名)） */
:root {
    --black: rgb(70,70,70);
    --gray: rgb(240,240,240);
    --red: rgb(255, 100, 100);
    --green: rgb(0, 200, 0);
}

/* 
div, p{
    border: 2px solid rgba(143, 144, 235, 0.801);
} */

body{
    margin: 0;
    font-family: sans-serif;
}

/* 会社ロゴ */
.firm{
    height: 70px;
    padding-left: 2%;

    display: flex;
    align-items: center;

    font-size: 25px;
    font-weight: bold;
    color: var(--black);
}

/* ボーダー線 */
.hr_border{
    border-bottom: 2.5px var(--black) solid;
}

/* 移動URL */
.act_url{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
}

.act_url>div:nth-child(2){
    /* ToDoとCategoryボタンの間隔 */
    margin-left: 20px;
}

.act_url>div:nth-child(3){
    /* ToDoとCategoryボタンの間隔 */
    margin-left: auto;
}

.logout{
    background-color: blueviolet;
}

.menu_button{
    font-size: 16px;
    font-weight: bold;

    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    padding: 16px 16px;

    color: white;
    line-height: 1em;
}

.add_todo{
    background-color: blue;
    transition: 0.8s;
}

.add_todo:hover{
    background-color: rgb(0, 0, 150);
}

.add_category{
    background-color: green;
    transition: 0.8s;
}

.add_category:hover{
    background-color: rgb(0, 100, 0);
}

/* ヘッダー */
.ttl, .tp_cont, .bt_cont{
    width: 400px;
    margin: auto;
}

.ttl{
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
}

.tp_cont{
    border-radius: 8px;
    background-color: cadetblue;

    margin-bottom: 40px;
}

.tp_cont>form>div{
    width: 260px;
    margin: 0 auto;
}

.tp_cont>form>div:last-child{
    margin-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
}

.dispname{
    font-size: 20px;
    color: white;

    padding-top: 10px;
}

.f{
    padding-top: 20px;
}


.f>div:first-child{
    display: flex;
}

/* formのclass */
.content_form{
    padding-left: 10px;
    font-size: 16px;
    width: 250px;
    height: 30px;
}

.upd_button{
    width: 90px;
    height: 40px;

    font-size: 15px;
    font-weight: bold;
    color: white;

    background-color: blue;
    
    border-radius: 4px;
    border: 2px solid blue;

    transition: 0.8s;
}

.upd_button:hover{
    cursor: pointer;
    cursor: hand;

    background-color: rgb(0, 0, 200);
    border: 2px solid rgb(0, 0, 200);
}

@media screen and (max-width: 600px){
    .firm{
        height: 40px;
        font-size: 14px;
    }

    .menu_button{
        font-size: 12px;
        border-radius: 4px;
        padding: 12px 12px;
    }

    .ttl, .tp_cont, .bt_cont{
        width: 300px;
    }

    .ttl{
        font-size: 16px;
    }

    .dispname{
        font-size: 14px;
        padding-top: 10px;
    }

    .content_form{
        padding-left: 5px;
        font-size: 12px;
        width: 250px;
        height: 20px;
    }
    
    .upd_button{
        width: 80px;
        height: 30px;    
        font-size: 14px;
    }
}