<!DOCTYPE html>
{% load static%}
{% load widget_tweaks %}
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDoを追加</title>
      <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'ToDoApp_Management/css/addtodo.css' %}">
  </head>
  <body>
    <div class="firm">
      yama Co.
    </div>
    <div class="hr_border"></div>
    
    <div class="act_url">
      <div><a href="{% url 'todolist' %}" class="menu_button add_todo">ToDo一覧へ</a></div>
      <div><a href="{% url 'addcategory' %}" class="menu_button add_category">Categoryを追加</a></div>
      <div><a href="{% url 'logout' %}" class="menu_button logout">ログアウト</a></div>
    </div>

    <div class="ttl">ToDoを追加する</div>
    <div class="tp_cont">
    <form action="{% url 'addtodo' %}" method="POST">{% csrf_token %}
        <div class="dispname f">ToDo</div>
        <div>{{ form.content |add_class:"content_form" }}</div>
        <div class="dispname">カテゴリー</div>
        <div>{{ form.category |add_class:"category_form" }}</div>
        <div class="dispname">優先度</div>
        <div>{{ form.priority |add_class:"priority_form" }}</div>
        <div class="dispname">進捗度</div>
        <div>{{ form.progress |add_class:"progress_form" }}</div>
        <div class="dispname">いつまで（例：2020-01-02）</div>
        <div>{{ form.pub_date |add_class:"pub_data_form" }}</div>
        <div><input type="submit" value="追加する" class="button"></div>
    </form>
    </div>
  </body>
</html>